.chartMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    position: relative;

    .operation-bar {
        width: 100%;
        height: 30px;

        span {
            display: inline-block;
            font-size: 14px;
            border-radius: 4px 0px 0px 4px;
            border: 1px solid #d9d9d9;
            padding: 4px 8px;
            box-sizing: border-box;
            font-weight: 400;
            color: #000000;
            cursor: pointer;

            &.active {
                border-color: #3a84ff;
                color: #3a84ff;
            }

            &:first-of-type {
                border-right-color: #3a84ff;
            }

            &:last-of-type {
                border-left: none;
                border-radius: 0px 4px 4px 0px;
            }
        }
    }

    .chart-title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: #000a12;
    }
}
.chart-nodata {
    height: calc(100% - 30px);
    top: 30px;
}
