html,
body,
#app,
#layout {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 1440px;
    max-width: 1980px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Segoe UI", "Helvetica Neue", "PingFang SC",
        "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei", "微软雅黑", sans-serif !important;
}

.el-main {
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.icon-img {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
}

.operation-bar {
    width: 100%;
    height: 30px;

    .bar-item {
        display: inline-block;
        font-size: 14px;
        border: 1px solid #d9d9d9;
        padding: 4px 12px;
        box-sizing: border-box;
        font-weight: 400;
        line-height: 20px;
        color: #000000;
        cursor: pointer;
        border-right: none;

        &:first-of-type {
            border-radius: 4px 0px 0px 4px;
        }

        &:last-of-type {
            border-radius: 0px 4px 4px 0px;
            border-right: 1px solid #d9d9d9;
        }

        &.active {
            border-color: #3a84ff;
            color: #3a84ff;

            & + .bar-item {
                border-left-color: #3a84ff;
            }
        }
    }
}
