.main {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    background-color: #f4f6f9;
    overflow: auto;

    .main-title {
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
        font-size: 20px;
        font-weight: 600;
        color: #1b253a;
        line-height: 28px;

        .sign {
            display: inline-block;
            height: 22px;
            font-size: 16px;
            font-weight: 400;
            color: #3a84ff;
            line-height: 22px;
            background: rgba(58, 132, 255, 0.2);
            border-radius: 4px;
            padding: 1px 8px;
            margin-left: 12px;
        }
    }

    .item-box {
        width: 100%;
        height: auto;
        min-height: calc(100% - 48px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;

        .item_100 {
            display: flex;
            width: 100%;
            height: 224px;
            background-color: white;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        .item_50 {
            display: flex;
            width: calc(50% - 10px);
            height: 224px;
            background-color: white;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        .item_33 {
            display: flex;
            width: calc(100% / 3 - 40px / 3);
            height: 224px;
            background-color: white;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        .item_25 {
            display: flex;
            width: calc(100% / 4 - 15px);
            height: 224px;
            background-color: white;
            margin-bottom: 20px;
            box-sizing: border-box;
        }
    }

    .main-body {
        width: 100%;
        height: calc(100% - 40px);
    }
}
