.com-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    position: relative;
    margin-bottom: 20px;

    .com-title {
        width: 100%;
        height: auto;
        line-height: 30px;
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        box-sizing: border-box;
        color: #000a12;

        .com-title_sub {
            font-size: 14px;
            font-weight: 400;
            color: #94979b;
        }

        .line-half {
            display: inline-block;
            width: auto;
            box-sizing: border-box;

            &:first-of-type {
                margin-bottom: 8px;
            }
        }
    }

    .com-title_min {
        width: 100%;
        height: auto;
        line-height: 30px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        box-sizing: border-box;
        color: #000a12;

        .com-title_sub {
            font-size: 14px;
            font-weight: 400;
            color: #94979b;
        }
    }

    .icon-tip {
        margin-left: 4px;
    }

    .com-filter {
        .select {
            margin-left: 12px;
        }
    }

    .com-body {
        width: 100%;
        flex: 1;
    }
}
.chart-main {
    width: 100%;
    flex: 1;
}
.chart-nodata {
    height: calc(100% - 30px);
    top: 30px;
}
