html,
body,
#app,
.layout {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 1280px;
    max-width: 1980px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Segoe UI", "Helvetica Neue", "PingFang SC",
        "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei", "微软雅黑", sans-serif !important;
}

.layout {
    overflow: hidden;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 3px;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.icon-img {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-tip {
    display: inline-block;
    width: 16px;
    height: 22px;
    background-image: url(~@/assets/imgs/icons/tip.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 2px;
    vertical-align: middle;
}
// 切换选择框
.operation-bar {
    width: 100%;
    height: 30px;

    .bar-item {
        display: inline-block;
        font-size: 14px;
        border: 1px solid #d9d9d9;
        padding: 4px 12px;
        box-sizing: border-box;
        font-weight: 400;
        line-height: 20px;
        color: #000000;
        cursor: pointer;
        border-right: none;

        &:first-of-type {
            border-radius: 4px 0px 0px 4px;
        }

        &:last-of-type {
            border-radius: 0px 4px 4px 0px;
            border-right: 1px solid #d9d9d9;
        }

        &.active {
            border-color: #3a84ff;
            color: #3a84ff;

            & + .bar-item {
                border-left-color: #3a84ff;
            }
        }
    }
}
// 搜索input
.search-main {
    display: inline-block;
    position: relative;

    &::before {
        content: " ";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 10px;
        top: calc(50% - 8px);
        background-image: url(~@/assets/imgs/icons/search.svg);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1001;
    }
}
// table头
.table-head-grey thead th {
    background: #eff0f3;
}
// 筛选按钮
.filter {
    cursor: pointer;
    font-size: 14px;
    .icon-filter {
        background-image: url(~@/assets/imgs/icons/filter.svg);
    }

    &:hover {
        color: #3a84ff;

        .icon-filter {
            background-image: url(~@/assets/imgs/icons/filter_active.svg);
        }
    }
}
// 浮窗
.popover-main {
    .demonstration {
        display: inline-block;
        font-size: 14px;
        color: #8492a6;
        vertical-align: top;
        line-height: 44px;
    }

    .slider {
        display: inline-block;
        width: calc(100% - 88px);
    }
    .select {
        width: calc(100% - 88px);
        margin-left: 4px;
        margin-top: 8px;
    }
}
