@mixin item {
    display: flex;
    height: auto;
    background-color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(232, 232, 232, 0.53);
}

.main {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #f4f6f9;

    .main-title {
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
        font-size: 20px;
        font-weight: 600;
        color: #1b253a;
        line-height: 28px;

        .sign {
            display: inline-block;
            height: 22px;
            font-size: 16px;
            font-weight: 400;
            color: #3a84ff;
            line-height: 22px;
            background: rgba(58, 132, 255, 0.2);
            border-radius: 4px;
            padding: 1px 8px;
            margin-left: 12px;
        }
    }

    .item-box {
        width: 100%;
        height: auto;
        margin-top: 48px;
        min-height: calc(100% - 48px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;

        .item_100 {
            @include item;
            width: 100%;
        }

        .item_60 {
            @include item;
            width: calc(60% - 10px);
        }

        .item_40 {
            @include item;
            width: calc(40% - 10px);
        }

        .item_50 {
            @include item;
            width: calc(50% - 10px);
        }

        .item_33 {
            @include item;
            width: calc(100% / 3 - 40px / 3);
        }

        .item_25 {
            @include item;
            width: calc(100% / 4 - 15px);
        }

        .item_75 {
            @include item;
            width: calc(100% * 3 / 4 - 5px);
        }

        .item_70 {
            @include item;
            width: calc(70% - 10px);
        }

        .item_30 {
            @include item;
            width: calc(30% - 10px);
        }

        .item_last {
            margin-bottom: 0;
        }

        .height_sm {
            height: 280px;
        }

        .height_mid {
            height: 380px;
        }

        .height_lg {
            height: 480px;
        }
    }

    .main-body {
        width: 100%;
        height: calc(100% - 48px);
        padding-top: 48px;
    }
}

.item-menu {
    width: calc(100% - 258px);
    position: absolute;
    top: 0;
    padding-top: 24px;
    z-index: 2000;
    flex-direction: column;
    background-color: rgb(244, 246, 249);
}
