.chartMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    position: relative;

    .chart-title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 0 1px 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: #000a12;

        .chart-title_sub {
            font-size: 14px;
            font-weight: 400;
            color: #94979b;
        }

        .button-cfg {
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            line-height: 20px;
            cursor: pointer;
        }
    }

    .icon-tip {
        margin-left: 4px;
    }
}
.chart-nodata {
    height: calc(100% - 30px);
    top: 30px;
}
