.left {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 100%;
    padding-right: 20px;
    box-sizing: border-box;

    &.left_lg {
        width: 262px;
    }

    .siderbar {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 2px;
        box-shadow: 0px 0px 5px 0px rgba(232, 232, 232, 0.53);

        h1 {
            font-size: 16px;
            font-weight: 400;
            color: #000a12;
            line-height: 22px;
            padding: 0;
            margin: 0 0 12px 0;
        }

        .search-main {
            border-radius: 2px;
            margin: 0 0 12px 0;
        }

        .env-com_menu {
            width: 100%;
            height: calc(100% - 64px);
            border: none;
        }
    }

    .icon {
        border: 1px solid #d9d9d9;
        color: #595959;
        cursor: pointer;
        line-height: 22px;
        padding: 0 2px;
        background-color: white;
    }

    .el-icon-s-unfold {
        margin-top: 20px;
    }

    .menu-item {
        display: inline-block;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.right {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 262px);
    height: 100%;

    &.right_lg {
        width: calc(100% - 44px);
    }

    .right-head {
        width: 100%;
        height: 92px;
        padding: 16px 20px;
        background-color: white;
        box-sizing: border-box;
        margin-bottom: 20px;
        border-radius: 2px;
        box-shadow: 0px 0px 5px 0px rgba(232, 232, 232, 0.53);

        span {
            display: inline-block;
            vertical-align: top;
            width: 240px;
            height: 22px;
            line-height: 22px;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 12px;
            margin-bottom: 16px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 2px;

            &.active {
                background: #3a84ff;
                color: white;
            }
        }

        @media screen and (max-width: 1440px) {
            span {
                width: auto;
                padding: 0 16px;
            }
        }
    }

    .right-main {
        width: 100%;
        height: calc(100% - 112px);
        background-color: white;
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;

        .right-main-title {
            margin: 0 0 8px 0;
            padding: 0;
            font-size: 16px;
            font-weight: 400;
            color: #000a12;
            line-height: 22px;
            display: flex;
            justify-content: space-between;

            .icon-img {
                width: 16px;
                height: 22px;
                line-height: 22px;
                margin-right: 16px;
                cursor: pointer;

                &.icon-line {
                    background-position-y: 5px;
                    background-image: url(~@/assets/imgs/icons/line.svg);

                    &.active {
                        background-image: url(~@/assets/imgs/icons/line-active.svg);
                    }
                }

                &.icon-bar {
                    background-position-y: 4px;
                    background-image: url(~@/assets/imgs/icons/bar.svg);

                    &.active {
                        background-image: url(~@/assets/imgs/icons/bar-active.svg);
                    }
                }
            }
        }

        .right-main-tip {
            font-size: 12px;
            font-weight: 400;
            color: #94979b;
            line-height: 18px;
            margin: 0 0 8px 0;
        }

        .right-main-chart {
            width: 100%;
            height: calc(100% - 158px);
            position: relative;

            .toggleChart {
                width: 100%;
                height: 100%;
            }
        }

        .right-main-table {
            width: 100%;
            height: auto;
        }
    }
}
