.item-menu {
    width: calc(100% - 122px);
    position: absolute;
    top: 0px;
    z-index: 2001;
    background-color: #f4f6f9 !important;
    height: 108px !important;
    flex-direction: column;
    padding-top: 20px;
    box-sizing: border-box;

    .crumbs {
        border-radius: 2px;
        box-shadow: 0px 0px 5px 0px rgba(232, 232, 232, 0.53);
    }
}

.item-box {
    margin-top: 128px;
}

.item-table {
    width: 100%;
    height: 480px !important;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    .main-title {
        height: 30px;
        line-height: 30px;
        padding: 0;
        margin: 0 0 16px 0;
        font-size: 16px;
        font-weight: 400;
        color: #000a12;
    }
}

.icon-bar {
    width: 16px;
    height: 14px;
    background-position-y: 2px;
    background-image: url(~@/assets/imgs/icons/bar.svg);
    cursor: pointer;

    &:hover {
        background-image: url(~@/assets/imgs/icons/bar-active.svg);
    }
}

.area-search {
    width: 240px;
    display: inline-block;
}

.crumbs {
    width: calc(100% - 40px);
    background: white;
}
