.main {
    height: calc(100% - 40px);
}
.chart-body {
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(232, 232, 232, 0.53);
}

.icon-tip {
    position: absolute;
    top: 22px;
    left: 100px;
}

.graph-box {
    width: 100%;
    height: 100%;
    margin: 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.chart-tooltip {
    display: none;
    position: absolute;
    width: 440px;
    height: 280px;
    top: 0;
    left: 0;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
        0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    padding: 14px 20px;
    box-sizing: border-box;

    h1 {
        font-size: 14px;
        font-weight: 400;
        color: #25211f;
        line-height: 20px;
        margin: 0 0 16px 0;
    }

    span {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        font-weight: 400;
        color: #94979b;
        line-height: 18px;
        margin: 0 16px 12px 0;
        cursor: pointer;
    }
}
