.siderbar-item {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 24px auto 38px auto;
    cursor: pointer;

    &:hover {
        background-color: #f4f6f9;
    }

    i {
        display: block;
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    span {
        font-size: 12px;
        font-weight: 400;
        color: #25211f;
        line-height: 16px;
    }

    &:nth-of-type(1) {
        i {
            background-image: url(~@/assets/imgs/siderbar/analysisMain.svg);
        }
    }
    &:nth-of-type(2) {
        i {
            background-image: url(~@/assets/imgs/siderbar/baseMain.svg);
        }
    }
    &:nth-of-type(3) {
        i {
            background-image: url(~@/assets/imgs/siderbar/baseMain.svg);
        }
    }
    &:nth-of-type(4) {
        i {
            background-image: url(~@/assets/imgs/siderbar/stockMain.svg);
        }
    }
    &:nth-of-type(5) {
        i {
            background-image: url(~@/assets/imgs/siderbar/area.png);
        }
    }
}

.siderbar_footer {
    position: absolute;
    width: 70px;
    bottom: 0;
    .siderbar-item {
        padding: 6px 0;
        box-sizing: border-box;

        i {
            display: block;
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
        }

        .icon-pillar {
            width: 28px;
            height: 28px;
            background-image: url(~@/assets/imgs/siderbar/main.svg);
        }

        .icon-all {
            width: 28px;
            height: 28px;
            background-image: url(~@/assets/imgs/siderbar/all.svg);
        }
    }
}

.sider-sub {
    position: absolute;
    width: 150px;
    height: 100%;
    top: 0;
    left: 70px;
    background-color: white;
    z-index: 2001;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.03);
    padding: 8px 12px;

    .icon {
        border: 1px solid #d9d9d9;
        color: #595959;
        cursor: pointer;
        line-height: 22px;
        padding: 0 2px;
        background-color: white;
    }

    ul {
        display: block;
        width: 100%;
        margin-top: 38px;

        li {
            display: block;
            width: 100%;
            line-height: 36px;
            font-size: 14px;
            font-weight: 400;
            color: #94979b;
            text-align: center;
            cursor: pointer;

            &:hover {
                color: #25211f;
            }

            &.active {
                color: #25211f;
            }
        }
    }
}

.footer {
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    background-color: #f4f6f9;
    line-height: 40px;
}
