.footer {
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    background-color: #f4f6f9;
    line-height: 40px;
}

.tool-main {
    width: 200px;
    height: 80px;
    padding-top: 30px;
    box-sizing: border-box;
    border-top: 1px solid #eeeeee;
    .item {
        font-size: 14px;
        display: inline-block;
        width: 50%;
        height: 20px;
        line-height: 20px;
        cursor: pointer;
    }
    .icon-pillar {
        vertical-align: top;
        width: 16px;
        height: 20px;
        background-position-y: 2px;
        margin: 0 4px 0 8px;
        background-image: url(~@/assets/imgs/siderbar/main.svg);
    }
    .icon-all {
        vertical-align: top;
        width: 16px;
        height: 20px;
        background-position-y: 2px;
        margin: 0 4px 0 8px;
        background-image: url(~@/assets/imgs/siderbar/all.svg);
    }
}
